html, body {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Lucida Grande", Verdana;
   border: none;
}
#infovis {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color:#fff;
    border: none;
}
#infovis-canvaswidget {
   border: none;
}
#infovis-canvas {
   border: none;
}

div.map-control {
   position: absolute;
   left: 7px;
   top: 7px;
   width: 50px;
   height: 96px;
   -moz-user-select: none;
   overflow: hidden;
   z-index: 2;
}
div.map-control img {
   position: absolute;
   left: 0px;
   top: 0px;
   -moz-user-select: none;
   border: 0px none;
   padding: 0px;
   margin: 0px;
}

span.node-yearrange {
   font-size: 85%;
   display: block;
}

/* table.node-yearrange and td-right added Sep 2020 by Janet Bjorndahl */
table.node-yearrange {
   width: 100%;
   padding: 0;
   margin: -0.3em;
   font-size: 8px;
}
td.td-right {
   text-align: right;
}
   
/*TOOLTIPS*/
.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}

td.popup-image {
}
td.popup-content {
   vertical-align: top;
}
/* popup-trees added Sep 2020 by Janet Bjorndahl */
div.popup-trees {
   font-size: 10px;
   font-weight: normal;
   padding-left: 0px;
}
div.popup-fullname {
   font-size: 16px;
   padding-bottom: 4px;
   font-weight: bold;
}
div.popup-event {
   font-size: 12px;
   padding-left: 6px;
}
div.popup-spouse {
   font-size: 14px;
}
span.popup-spousename {
   font-weight: bold;
   padding-left: 6px;
   padding-right: 2px;
}
span.popup-yearrange {
   font-size: 11px;
}
div.popup-marriage {
   padding-left: 8px;
   font-size: 12px;
}
div.popup-children {
   border-top: 1px solid #ccc;
}
div.popup-child {
   font-size: 12px;
}
div.popup-links {
   text-align: right;
   font-size: 9px;
}
div.popup-more {
   float: left;
   font-size: 9px;
}
div.popup-links a {
   padding-left: 8px;
}
span.popup-date {
   font-weight: bold;
}
span.popup-place {
   font-size: 11px;
   padding-left: 6px;
}

a {
	text-decoration: none;
	color: #1111CC;
	background: none;
}
a:visited {
	color: #5a3696;
}
a:active {
	color: #0066B3;
}
a:hover {
	text-decoration: underline;
}

.jit-autoadjust-label {
  padding: 15px;
}

#update, #restore {
  text-align: center;
  width: 100px;
  margin:0px 35px 10px 35px;
}

.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px / 100% Arial, Helvetica, sans-serif;
  padding: 0.5em 1em 0.55em;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.button:hover {
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 1px;
}

/* white */
.white {
  color: #606060;
  border: solid 1px #b7b7b7;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
  background: -moz-linear-gradient(top,  #fff,  #ededed);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}

.white:hover {
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
  background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}

.white:active {
  color: #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
  background: -moz-linear-gradient(top,  #ededed,  #fff);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

.tip-yellow {
	z-index:1000;
	text-align:left;
	border:1px solid #939393;
	padding:7px;
	min-width:50px;
	max-width:350px;
	color: #333; /*#8c3901;*/
	background-color: #f7f9ff; /*#fef9d9;*/
	background-image:url(images/tip-orange.png); /* bgImageFrameSize >= 10 should work fine */
	/**
	 * - If you set a background-image, border/padding/background-color will be ingnored.
	 *   You can set any padding to .tip-inner instead if you need.
	 * - If you want a tiled background-image and border/padding for the tip,
	 *   set the background-image to .tip-inner instead.
	 */
}
.tip-yellow .tip-inner {
	font: 13px/18px 'trebuchet ms',arial,helvetica,sans-serif;
	margin-top:-2px;
	padding:0 3px 1px 3px;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-yellow .tip-arrow-top {
	margin-top:-7px;
   margin-left:50%;
   margin-right:50%;
	top:0;
	left:0;
	width:16px;
	height:10px;
	background:url(images/tip-orange_arrows.png) no-repeat;
}
.tip-yellow .tip-arrow-right {
	margin-top:-9px; /* approx. half the height to center it */
	margin-left:-4px;
	top:50%;
	left:100%;
	width:10px;
	height:20px;
	background:url(images/tip-orange_arrows.png) no-repeat -16px 0;
}
.tip-yellow .tip-arrow-bottom {
	margin-top:-6px;
	margin-left:50%;
   margin-right:50%;
	top:100%;
	left:0;
	width:16px;
	height:13px;
	background:url(images/tip-orange_arrows.png) no-repeat -32px 0;
}
.tip-yellow .tip-arrow-left {
	margin-top:-9px; /* approx. half the height to center it */
	margin-left:-6px;
	top:50%;
	left:0;
	width:10px;
	height:20px;
	background:url(images/tip-orange_arrows.png) no-repeat -48px 0;
}
